
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">
            <img id="MDB-logo"
                 src="https://icon-library.com/images/movie-icon-app/movie-icon-app-17.jpg"
                 alt="MDB Logo"
                 draggable="false"
                 height="30" />
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>

        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav mr-3">
                <li class="nav-item">
                    <a class="nav-link active d-flex align-items-center" aria-current="page" href="/movies/list"><i class="fas fa-bars pr-2"></i>MovieApp</a>
                </li>
            </ul>
            <!-- Left links -->

            <form class="d-flex align-items-center w-50 form-search" action="/movies/list" method="get">
                <div class="input-group">

                    <input type="text"
                           class="form-control"
                           placeholder="Search"
                           aria-label="Search"
                           name="q" />


                </div>
                <a href="#!" class="text-white"><i class="fas fa-search pl-3"></i></a>
            </form>

            <ul class="navbar-nav ml-3">

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center mr-3" href="#!">
                        <i class="fas fa-bookmark pr-2"></i> Watchlist
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center mr-3" href="/admin/movielist">
                        <i class="fas fa-bookmark pr-2"></i> Admin Movie
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center mr-3" href="/admin/genrelist">
                        <i class="fas fa-bookmark pr-2"></i> Admin Genre
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center mr-3" href="/admin/moviecreate">
                        <i class="fas fa-bookmark pr-2"></i> Admin Create Movie
                    </a>
                </li>
                <li class="nav-item" style="width: 65px;">
                    <a class="nav-link d-flex align-items-center" href="/User/CreateUser">Sign In</a>
                </li>
            </ul>
        </div>

    </div>

</nav>