
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img id="MDB-logo"
                 src="https://icon-library.com/images/movie-icon-app/movie-icon-app-17.jpg"
                 alt="MDB Logo"
                 draggable="false"
                 height="30" />
        </a>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/movies/list">Filmler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/loginuser">Giriş Yap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/createuser">Kayıt Ol</a>
                </li>
               
            </ul>
            <form class=" align-items-center w-50 form-search" action="/movies/list" method="get">
                <div class="input-group">

                    <input type="text"
                           class="form-control"
                           placeholder="Search"
                           aria-label="Search"
                           name="q" />


                </div>
                <a href="#!" class="text-white"><i class="fas fa-search pl-3"></i></a>
            </form>
           
        </div>
    </div>
</nav>